# dependencies
node_modules/

# next build
.next/
out/

# env files
.env
.env.local
.env.production
google-service-account.json

# misc
.DS_Store
dist/
build/

# backup
backup/

node_modules
.next
.vercel
.env.local